<?xml version="1.0" encoding="utf-8" ?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         verbose="true"
>
	<groups>
		<exclude>
			<group>needs-network</group>
			<group>needs-js</group>
			<group>slow</group>
		</exclude>
	</groups>

	<testsuites>
		<testsuite name="TextFormatter">
			<!-- Test the base classes and traits first -->
			<file>tests/Configurator/Collections/CollectionTest.php</file>
			<file>tests/Configurator/Collections/NormalizedCollectionTest.php</file>
			<file>tests/Configurator/Collections/NormalizedListTest.php</file>
			<file>tests/Configurator/Traits/CollectionProxyTest.php</file>
			<file>tests/Configurator/Traits/ConfigurableTest.php</file>
			<file>tests/Configurator/Traits/TemplateSafenessTest.php</file>

			<file>tests/ConfiguratorTest.php</file>
			<file>tests/Configurator/Collections/AttributeCollectionTest.php</file>
			<file>tests/Configurator/Collections/AttributeFilterChainTest.php</file>
			<file>tests/Configurator/Collections/AttributeFilterCollectionTest.php</file>
			<file>tests/Configurator/Collections/AttributeListTest.php</file>
			<file>tests/Configurator/Collections/AttributePreprocessorCollectionTest.php</file>
			<file>tests/Configurator/Collections/HostnameListTest.php</file>
			<file>tests/Configurator/Collections/MinifierListTest.php</file>
			<file>tests/Configurator/Collections/PluginCollectionTest.php</file>
			<file>tests/Configurator/Collections/RulesetTest.php</file>
			<file>tests/Configurator/Collections/RulesGeneratorListTest.php</file>
			<file>tests/Configurator/Collections/SchemeListTest.php</file>
			<file>tests/Configurator/Collections/TagCollectionTest.php</file>
			<file>tests/Configurator/Collections/TagFilterChainTest.php</file>
			<file>tests/Configurator/Collections/TagListTest.php</file>
			<file>tests/Configurator/Collections/TemplateCheckListTest.php</file>
			<file>tests/Configurator/Collections/TemplateNormalizationListTest.php</file>
			<file>tests/Configurator/Collections/TemplateParameterCollectionTest.php</file>
			<file>tests/Configurator/Exceptions/UnsafeTemplateExceptionTest.php</file>
			<file>tests/Configurator/Helpers/AVTHelperTest.php</file>
			<file>tests/Configurator/Helpers/CharacterClassBuilderTest.php</file>
			<file>tests/Configurator/Helpers/ConfigHelperTest.php</file>
			<file>tests/Configurator/Helpers/ContextSafenessTest.php</file>
			<file>tests/Configurator/Helpers/ElementInspectorTest.php</file>
			<file>tests/Configurator/Helpers/NodeLocatorTest.php</file>
			<file>tests/Configurator/Helpers/RegexpBuilderTest.php</file>
			<file>tests/Configurator/Helpers/RegexpParserTest.php</file>
			<file>tests/Configurator/Helpers/RulesHelperTest.php</file>
			<file>tests/Configurator/Helpers/TemplateHelperTest.php</file>
			<file>tests/Configurator/Helpers/TemplateInspectorTest.php</file>
			<file>tests/Configurator/Helpers/TemplateLoaderTest.php</file>
			<file>tests/Configurator/Helpers/TemplateModifierTest.php</file>
			<file>tests/Configurator/Helpers/TemplateParserTest.php</file>
			<file>tests/Configurator/Helpers/XPathHelperTest.php</file>
			<file>tests/Configurator/Items/AttributeTest.php</file>
			<file>tests/Configurator/Items/AttributeFilterTest.php</file>
			<file>tests/Configurator/Items/AttributePreprocessorTest.php</file>
			<file>tests/Configurator/Items/ProgrammableCallbackTest.php</file>
			<file>tests/Configurator/Items/AttributeFilters/AlnumFilterTest.php</file>
			<file>tests/Configurator/Items/AttributeFilters/ChoiceFilterTest.php</file>
			<file>tests/Configurator/Items/AttributeFilters/ColorFilterTest.php</file>
			<file>tests/Configurator/Items/AttributeFilters/EmailFilterTest.php</file>
			<file>tests/Configurator/Items/AttributeFilters/FalseFilterTest.php</file>
			<file>tests/Configurator/Items/AttributeFilters/FloatFilterTest.php</file>
			<file>tests/Configurator/Items/AttributeFilters/FontfamilyFilterTest.php</file>
			<file>tests/Configurator/Items/AttributeFilters/HashmapFilterTest.php</file>
			<file>tests/Configurator/Items/AttributeFilters/IdentifierFilterTest.php</file>
			<file>tests/Configurator/Items/AttributeFilters/IntFilterTest.php</file>
			<file>tests/Configurator/Items/AttributeFilters/IpFilterTest.php</file>
			<file>tests/Configurator/Items/AttributeFilters/IpportFilterTest.php</file>
			<file>tests/Configurator/Items/AttributeFilters/Ipv4FilterTest.php</file>
			<file>tests/Configurator/Items/AttributeFilters/Ipv6FilterTest.php</file>
			<file>tests/Configurator/Items/AttributeFilters/MapFilterTest.php</file>
			<file>tests/Configurator/Items/AttributeFilters/NumberFilterTest.php</file>
			<file>tests/Configurator/Items/AttributeFilters/RangeFilterTest.php</file>
			<file>tests/Configurator/Items/AttributeFilters/RegexpFilterTest.php</file>
			<file>tests/Configurator/Items/AttributeFilters/SimpletextFilterTest.php</file>
			<file>tests/Configurator/Items/AttributeFilters/TimestampFilterTest.php</file>
			<file>tests/Configurator/Items/AttributeFilters/UintFilterTest.php</file>
			<file>tests/Configurator/Items/AttributeFilters/UrlFilterTest.php</file>
			<file>tests/Configurator/Items/RegexpTest.php</file>
			<file>tests/Configurator/Items/TagTest.php</file>
			<file>tests/Configurator/Items/TagFilterTest.php</file>
			<file>tests/Configurator/Items/TemplateTest.php</file>
			<file>tests/Configurator/Items/TemplateDocumentTest.php</file>
			<file>tests/Configurator/JavaScript/CallbackGeneratorTest.php</file>
			<file>tests/Configurator/JavaScript/CodeTest.php</file>
			<file>tests/Configurator/JavaScript/ConfigOptimizerTest.php</file>
			<file>tests/Configurator/JavaScript/ConfigValueTest.php</file>
			<file>tests/Configurator/JavaScript/DictionaryTest.php</file>
			<file>tests/Configurator/JavaScript/EncoderTest.php</file>
			<file>tests/Configurator/JavaScript/FunctionProviderTest.php</file>
			<file>tests/Configurator/JavaScript/HintGeneratorTest.php</file>
			<file>tests/Configurator/JavaScript/RegexpConvertorTest.php</file>
			<file>tests/Configurator/JavaScript/MinifierTest.php</file>
			<file>tests/Configurator/JavaScript/Minifiers/FirstAvailableTest.php</file>
			<file>tests/Configurator/JavaScript/Minifiers/ClosureCompilerApplicationTest.php</file>
			<file>tests/Configurator/JavaScript/Minifiers/ClosureCompilerServiceTest.php</file>
			<file>tests/Configurator/JavaScript/Minifiers/MatthiasMullieMinifyTest.php</file>
			<file>tests/Configurator/JavaScript/Minifiers/NoopTest.php</file>
			<file>tests/Configurator/JavaScript/StylesheetCompressorTest.php</file>
			<file>tests/Configurator/RenderingTest.php</file>
			<file>tests/Configurator/RulesGenerators/AllowAllTest.php</file>
			<file>tests/Configurator/RulesGenerators/AutoCloseIfVoidTest.php</file>
			<file>tests/Configurator/RulesGenerators/AutoReopenFormattingElementsTest.php</file>
			<file>tests/Configurator/RulesGenerators/BlockElementsCloseFormattingElementsTest.php</file>
			<file>tests/Configurator/RulesGenerators/BlockElementsFosterFormattingElementsTest.php</file>
			<file>tests/Configurator/RulesGenerators/DisableAutoLineBreaksIfNewLinesArePreservedTest.php</file>
			<file>tests/Configurator/RulesGenerators/EnforceContentModelsTest.php</file>
			<file>tests/Configurator/RulesGenerators/EnforceOptionalEndTagsTest.php</file>
			<file>tests/Configurator/RulesGenerators/IgnoreTagsInCodeTest.php</file>
			<file>tests/Configurator/RulesGenerators/IgnoreTextIfDisallowedTest.php</file>
			<file>tests/Configurator/RulesGenerators/IgnoreWhitespaceAroundBlockElementsTest.php</file>
			<file>tests/Configurator/RulesGenerators/ManageParagraphsTest.php</file>
			<file>tests/Configurator/RulesGenerators/TrimFirstLineInCodeBlocksTest.php</file>
			<file>tests/Configurator/RulesGeneratorTest.php</file>
			<file>tests/Configurator/TemplateNormalizations/AbstractNormalizationTest.php</file>
			<file>tests/Configurator/TemplateNormalizations/ConvertCurlyExpressionsInTextTest.php</file>
			<file>tests/Configurator/TemplateNormalizations/CustomTest.php</file>
			<file>tests/Configurator/TemplateNormalizations/EnforceHTMLOptionalEndTagsTest.php</file>
			<file>tests/Configurator/TemplateNormalizations/FixUnescapedCurlyBracesInHtmlAttributesTest.php</file>
			<file>tests/Configurator/TemplateNormalizations/FoldArithmeticConstantsTest.php</file>
			<file>tests/Configurator/TemplateNormalizations/FoldConstantXPathExpressionsTest.php</file>
			<file>tests/Configurator/TemplateNormalizations/InlineAttributesTest.php</file>
			<file>tests/Configurator/TemplateNormalizations/InlineCDATATest.php</file>
			<file>tests/Configurator/TemplateNormalizations/InlineElementsTest.php</file>
			<file>tests/Configurator/TemplateNormalizations/InlineInferredValuesTest.php</file>
			<file>tests/Configurator/TemplateNormalizations/InlineTextElementsTest.php</file>
			<file>tests/Configurator/TemplateNormalizations/InlineXPathLiteralsTest.php</file>
			<file>tests/Configurator/TemplateNormalizations/MinifyInlineCSSTest.php</file>
			<file>tests/Configurator/TemplateNormalizations/MinifyXPathExpressionsTest.php</file>
			<file>tests/Configurator/TemplateNormalizations/MergeConsecutiveCopyOfTest.php</file>
			<file>tests/Configurator/TemplateNormalizations/MergeIdenticalConditionalBranchesTest.php</file>
			<file>tests/Configurator/TemplateNormalizations/NormalizeAttributeNamesTest.php</file>
			<file>tests/Configurator/TemplateNormalizations/NormalizeElementNamesTest.php</file>
			<file>tests/Configurator/TemplateNormalizations/NormalizeUrlsTest.php</file>
			<file>tests/Configurator/TemplateNormalizations/OptimizeConditionalAttributesTest.php</file>
			<file>tests/Configurator/TemplateNormalizations/OptimizeConditionalValueOfTest.php</file>
			<file>tests/Configurator/TemplateNormalizations/OptimizeNestedConditionalsTest.php</file>
			<file>tests/Configurator/TemplateNormalizations/OptimizeChooseTest.php</file>
			<file>tests/Configurator/TemplateNormalizations/OptimizeChooseTextTest.php</file>
			<file>tests/Configurator/TemplateNormalizations/PreserveSingleSpacesTest.php</file>
			<file>tests/Configurator/TemplateNormalizations/RemoveCommentsTest.php</file>
			<file>tests/Configurator/TemplateNormalizations/RemoveInterElementWhitespaceTest.php</file>
			<file>tests/Configurator/TemplateNormalizations/RemoveLivePreviewAttributesTest.php</file>
			<file>tests/Configurator/TemplateNormalizations/SetRelNoreferrerOnTargetedLinksTest.php</file>
			<file>tests/Configurator/TemplateNormalizations/SortAttributesByNameTest.php</file>
			<file>tests/Configurator/TemplateNormalizations/TransposeCommentsTest.php</file>
			<file>tests/Configurator/TemplateNormalizations/UninlineAttributesTest.php</file>
			<file>tests/Configurator/TemplateNormalizerTest.php</file>
			<file>tests/Configurator/TemplateChecks/AbstractDynamicContentCheckTest.php</file>
			<file>tests/Configurator/TemplateChecks/DisallowAttributeSetsTest.php</file>
			<file>tests/Configurator/TemplateChecks/DisallowCopyTest.php</file>
			<file>tests/Configurator/TemplateChecks/DisallowDisableOutputEscapingTest.php</file>
			<file>tests/Configurator/TemplateChecks/DisallowDynamicAttributeNamesTest.php</file>
			<file>tests/Configurator/TemplateChecks/DisallowDynamicElementNamesTest.php</file>
			<file>tests/Configurator/TemplateChecks/DisallowElementTest.php</file>
			<file>tests/Configurator/TemplateChecks/DisallowElementNSTest.php</file>
			<file>tests/Configurator/TemplateChecks/DisallowFlashFullScreenTest.php</file>
			<file>tests/Configurator/TemplateChecks/DisallowNodeByXPathTest.php</file>
			<file>tests/Configurator/TemplateChecks/DisallowObjectParamsWithGeneratedNameTest.php</file>
			<file>tests/Configurator/TemplateChecks/DisallowPHPTagsTest.php</file>
			<file>tests/Configurator/TemplateChecks/DisallowUnsafeCopyOfTest.php</file>
			<file>tests/Configurator/TemplateChecks/DisallowUnsafeDynamicCSSTest.php</file>
			<file>tests/Configurator/TemplateChecks/DisallowUnsafeDynamicJSTest.php</file>
			<file>tests/Configurator/TemplateChecks/DisallowUnsafeDynamicURLTest.php</file>
			<file>tests/Configurator/TemplateChecks/DisallowXPathFunctionTest.php</file>
			<file>tests/Configurator/TemplateChecks/RestrictFlashNetworkingTest.php</file>
			<file>tests/Configurator/TemplateChecks/RestrictFlashScriptAccessTest.php</file>
			<file>tests/Configurator/TemplateCheckerTest.php</file>
			<file>tests/Configurator/UrlConfigTest.php</file>
			<file>tests/Configurator/Validators/AttributeNameTest.php</file>
			<file>tests/Configurator/Validators/TagNameTest.php</file>
			<file>tests/Configurator/Validators/TemplateParameterNameTest.php</file>
			<file>tests/Configurator/JavaScriptTest.php</file>
			<file>tests/Configurator/BundleTest.php</file>
			<file>tests/Configurator/BundleGeneratorTest.php</file>
			<file>tests/Configurator/Bundles/FatdownTest.php</file>
			<file>tests/Configurator/Bundles/ForumTest.php</file>
			<file>tests/Configurator/Bundles/MediaPackTest.php</file>

			<!-- Trying to sort by order of dependency  -->
			<file>tests/Parser/TagTest.php</file>
			<file>tests/Parser/FilterProcessingTest.php</file>
			<file>tests/Parser/LoggerTest.php</file>
			<file>tests/Parser/PluginsHandlingTest.php</file>
			<file>tests/Parser/TagStackTest.php</file>
			<file>tests/Parser/OutputHandlingTest.php</file>
			<file>tests/Parser/TagProcessingTest.php</file>
			<file>tests/Parser/RulesHandlingTest.php</file>
			<file>tests/Parser/AttributeFilters/AlnumFilterTest.php</file>
			<file>tests/Parser/AttributeFilters/ColorFilterTest.php</file>
			<file>tests/Parser/AttributeFilters/EmailFilterTest.php</file>
			<file>tests/Parser/AttributeFilters/FalseFilterTest.php</file>
			<file>tests/Parser/AttributeFilters/FontfamilyFilterTest.php</file>
			<file>tests/Parser/AttributeFilters/HashmapFilterTest.php</file>
			<file>tests/Parser/AttributeFilters/IdentifierFilterTest.php</file>
			<file>tests/Parser/AttributeFilters/MapFilterTest.php</file>
			<file>tests/Parser/AttributeFilters/NetworkFilterTest.php</file>
			<file>tests/Parser/AttributeFilters/NumericFilterTest.php</file>
			<file>tests/Parser/AttributeFilters/RangeFilterTest.php</file>
			<file>tests/Parser/AttributeFilters/RegexpFilterTest.php</file>
			<file>tests/Parser/AttributeFilters/SimpletextFilterTest.php</file>
			<file>tests/Parser/AttributeFilters/TimestampFilterTest.php</file>
			<file>tests/Parser/AttributeFilters/UrlFilterTest.php</file>
			<file>tests/ParserTest.php</file>

			<file>tests/Plugins/ConfiguratorBaseTest.php</file>
			<file>tests/Plugins/ParserBaseTest.php</file>
			<file>tests/Plugins/Autoemail/ConfiguratorTest.php</file>
			<file>tests/Plugins/Autoemail/ParserTest.php</file>
			<file>tests/Plugins/Autoimage/ConfiguratorTest.php</file>
			<file>tests/Plugins/Autoimage/ParserTest.php</file>
			<file>tests/Plugins/Autolink/ConfiguratorTest.php</file>
			<file>tests/Plugins/Autolink/ParserTest.php</file>
			<file>tests/Plugins/Autovideo/ConfiguratorTest.php</file>
			<file>tests/Plugins/Autovideo/ParserTest.php</file>
			<file>tests/Plugins/BBCodes/Configurator/BBCodeTest.php</file>
			<file>tests/Plugins/BBCodes/Configurator/BBCodeCollectionTest.php</file>
			<file>tests/Plugins/BBCodes/Configurator/BBCodeMonkeyTest.php</file>
			<file>tests/Plugins/BBCodes/Configurator/RepositoryTest.php</file>
			<file>tests/Plugins/BBCodes/Configurator/RepositoryCollectionTest.php</file>
			<file>tests/Plugins/BBCodes/ConfiguratorTest.php</file>
			<file>tests/Plugins/BBCodes/ParserTest.php</file>
			<file>tests/Plugins/BBCodes/BBCodesTest.php</file>
			<file>tests/Plugins/Censor/ConfiguratorTest.php</file>
			<file>tests/Plugins/Censor/HelperTest.php</file>
			<file>tests/Plugins/Censor/ParserTest.php</file>
			<file>tests/Plugins/Emoji/ConfiguratorTest.php</file>
			<file>tests/Plugins/Emoji/ParserTest.php</file>
			<file>tests/Plugins/Emoticons/ConfiguratorTest.php</file>
			<file>tests/Plugins/Emoticons/Configurator/EmoticonCollectionTest.php</file>
			<file>tests/Plugins/Emoticons/ParserTest.php</file>
			<file>tests/Plugins/Escaper/ConfiguratorTest.php</file>
			<file>tests/Plugins/Escaper/ParserTest.php</file>
			<file>tests/Plugins/FancyPants/ConfiguratorTest.php</file>
			<file>tests/Plugins/FancyPants/ParserTest.php</file>
			<file>tests/Plugins/HTMLComments/ConfiguratorTest.php</file>
			<file>tests/Plugins/HTMLComments/ParserTest.php</file>
			<file>tests/Plugins/HTMLElements/ConfiguratorTest.php</file>
			<file>tests/Plugins/HTMLElements/ParserTest.php</file>
			<file>tests/Plugins/HTMLEntities/ConfiguratorTest.php</file>
			<file>tests/Plugins/HTMLEntities/ParserTest.php</file>
			<file>tests/Plugins/Keywords/ConfiguratorTest.php</file>
			<file>tests/Plugins/Keywords/ParserTest.php</file>
			<file>tests/Plugins/Litedown/ConfiguratorTest.php</file>
			<file>tests/Plugins/Litedown/ParserTest.php</file>
			<file>tests/Plugins/Litedown/Parser/Passes/BlocksTest.php</file>
			<file>tests/Plugins/Litedown/Parser/Passes/EmphasisTest.php</file>
			<file>tests/Plugins/Litedown/Parser/Passes/ForcedLineBreaksTest.php</file>
			<file>tests/Plugins/Litedown/Parser/Passes/ImagesTest.php</file>
			<file>tests/Plugins/Litedown/Parser/Passes/InlineCodeTest.php</file>
			<file>tests/Plugins/Litedown/Parser/Passes/LinksTest.php</file>
			<file>tests/Plugins/Litedown/Parser/Passes/StrikethroughTest.php</file>
			<file>tests/Plugins/Litedown/Parser/Passes/SubscriptTest.php</file>
			<file>tests/Plugins/Litedown/Parser/Passes/SuperscriptTest.php</file>
			<file>tests/Plugins/MediaEmbed/Configurator/Collections/CachedDefinitionCollectionTest.php</file>
			<file>tests/Plugins/MediaEmbed/Configurator/Collections/SiteDefinitionCollectionTest.php</file>
			<file>tests/Plugins/MediaEmbed/Configurator/Collections/XmlFileDefinitionCollectionTest.php</file>
			<file>tests/Plugins/MediaEmbed/Configurator/TemplateBuilderTest.php</file>
			<file>tests/Plugins/MediaEmbed/Configurator/TemplateGenerators/ChooseTest.php</file>
			<file>tests/Plugins/MediaEmbed/Configurator/TemplateGenerators/FlashTest.php</file>
			<file>tests/Plugins/MediaEmbed/Configurator/TemplateGenerators/IframeTest.php</file>
			<file>tests/Plugins/MediaEmbed/ConfiguratorTest.php</file>
			<file>tests/Plugins/MediaEmbed/ParserTest.php</file>
			<file>tests/Plugins/PipeTables/ConfiguratorTest.php</file>
			<file>tests/Plugins/PipeTables/ParserTest.php</file>
			<file>tests/Plugins/Preg/ConfiguratorTest.php</file>
			<file>tests/Plugins/Preg/ParserTest.php</file>

			<file>tests/Configurator/RendererGenerators/PHP/XPathConvertorTest.php</file>
			<file>tests/Configurator/RendererGenerators/PHP/XPathConvertor/RunnerTest.php</file>
			<file>tests/Configurator/RendererGenerators/PHP/XPathConvertor/Convertors/BooleanFunctionsTest.php</file>
			<file>tests/Configurator/RendererGenerators/PHP/XPathConvertor/Convertors/BooleanOperatorsTest.php</file>
			<file>tests/Configurator/RendererGenerators/PHP/XPathConvertor/Convertors/ComparisonsTest.php</file>
			<file>tests/Configurator/RendererGenerators/PHP/XPathConvertor/Convertors/CoreTest.php</file>
			<file>tests/Configurator/RendererGenerators/PHP/XPathConvertor/Convertors/MathTest.php</file>
			<file>tests/Configurator/RendererGenerators/PHP/XPathConvertor/Convertors/MultiByteStringManipulationTest.php</file>
			<file>tests/Configurator/RendererGenerators/PHP/XPathConvertor/Convertors/SingleByteStringFunctionsTest.php</file>
			<file>tests/Configurator/RendererGenerators/PHP/XPathConvertor/Convertors/SingleByteStringManipulationTest.php</file>
			<file>tests/Configurator/RendererGenerators/PHP/BranchOutputOptimizerTest.php</file>
			<file>tests/Configurator/RendererGenerators/PHP/ControlStructuresOptimizerTest.php</file>
			<file>tests/Configurator/RendererGenerators/PHP/OptimizerTest.php</file>
			<file>tests/Configurator/RendererGenerators/PHP/QuickTest.php</file>
			<file>tests/Configurator/RendererGenerators/PHP/SerializerTest.php</file>
			<file>tests/Configurator/RendererGenerators/PHP/SwitchStatementTest.php</file>
			<file>tests/Configurator/RendererGenerators/PHPTest.php</file>
			<file>tests/Configurator/RendererGenerators/UnformattedTest.php</file>
			<file>tests/Configurator/RendererGenerators/XSLT/OptimizerTest.php</file>
			<file>tests/Configurator/RendererGenerators/XSLTTest.php</file>

			<file>tests/RendererTest.php</file>
			<file>tests/Renderers/XSLTTest.php</file>
			<file>tests/Renderers/PHPTest.php</file>
			<file>tests/Renderers/UnformattedTest.php</file>

			<file>tests/UnparserTest.php</file>
			<file>tests/Utils/Http/Clients/CachedTest.php</file>
			<file>tests/Utils/Http/Clients/CurlTest.php</file>
			<file>tests/Utils/Http/Clients/NativeTest.php</file>
			<file>tests/Utils/HttpTest.php</file>
			<file>tests/Utils/XPathTest.php</file>
			<file>tests/UtilsTest.php</file>

			<file>tests/BundleTest.php</file>
			<file>tests/Bundles/FatdownTest.php</file>
			<file>tests/Bundles/ForumTest.php</file>
			<file>tests/Bundles/MediaPackTest.php</file>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist>
			<directory suffix=".php">src</directory>
		</whitelist>
	</filter>
</phpunit>