<?xml version="1.0" encoding="utf-8" ?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         verbose="true"
>
	<logging>
		<log type="testdox-text" target="docs/testdox.txt" />
	</logging>

	<groups>
		<exclude>
			<group>needs-network</group>
			<group>needs-nodejs</group>
		</exclude>
	</groups>

	<testsuites>
		<testsuite name="TextFormatter">
			<file>tests/autoloaderTest.php</file>

			<!-- Test the base classes and traits first -->
			<file>tests/Configurator/Collections/CollectionTest.php</file>
			<file>tests/Configurator/Collections/NormalizedCollectionTest.php</file>
			<file>tests/Configurator/Collections/NormalizedListTest.php</file>
			<file>tests/Configurator/Traits/CollectionProxyTest.php</file>
			<file>tests/Configurator/Traits/ConfigurableTest.php</file>

			<file>tests/ConfiguratorTest.php</file>
			<file>tests/Configurator/Collections/AttributeCollectionTest.php</file>
			<file>tests/Configurator/Collections/AttributeFilterChainTest.php</file>
			<file>tests/Configurator/Collections/AttributeFilterCollectionTest.php</file>
			<file>tests/Configurator/Collections/AttributeListTest.php</file>
			<file>tests/Configurator/Collections/AttributePreprocessorCollectionTest.php</file>
			<file>tests/Configurator/Collections/PluginCollectionTest.php</file>
			<file>tests/Configurator/Collections/RulesetTest.php</file>
			<file>tests/Configurator/Collections/StylesheetParameterCollectionTest.php</file>
			<file>tests/Configurator/Collections/TagCollectionTest.php</file>
			<file>tests/Configurator/Collections/TagFilterChainTest.php</file>
			<file>tests/Configurator/Collections/TemplateCheckListTest.php</file>
			<file>tests/Configurator/Collections/TemplateCollectionTest.php</file>
			<file>tests/Configurator/Exceptions/UnsafeTemplateExceptionTest.php</file>
			<file>tests/Configurator/Helpers/ConfigHelperTest.php</file>
			<file>tests/Configurator/Helpers/HTML5/TemplateForensicsTest.php</file>
			<!-- RulesGenerator depends on TemplateForensics -->
			<file>tests/Configurator/Helpers/HTML5/RulesGeneratorTest.php</file>
			<file>tests/Configurator/Helpers/RegexpBuilderTest.php</file>
			<file>tests/Configurator/Helpers/RegexpParserTest.php</file>
			<file>tests/Configurator/Helpers/RulesHelperTest.php</file>
			<file>tests/Configurator/Helpers/TemplateOptimizerTest.php</file>
			<file>tests/Configurator/Helpers/TemplateHelperTest.php</file>
			<file>tests/Configurator/Items/AttributeTest.php</file>
			<file>tests/Configurator/Items/AttributeFilterTest.php</file>
			<file>tests/Configurator/Items/AttributePreprocessorTest.php</file>
			<file>tests/Configurator/Items/ProgrammableCallbackTest.php</file>
			<file>tests/Configurator/Items/AttributeFilters/AlnumTest.php</file>
			<file>tests/Configurator/Items/AttributeFilters/ChoiceTest.php</file>
			<file>tests/Configurator/Items/AttributeFilters/ColorTest.php</file>
			<file>tests/Configurator/Items/AttributeFilters/EmailTest.php</file>
			<file>tests/Configurator/Items/AttributeFilters/FloatTest.php</file>
			<file>tests/Configurator/Items/AttributeFilters/IdentifierTest.php</file>
			<file>tests/Configurator/Items/AttributeFilters/IntTest.php</file>
			<file>tests/Configurator/Items/AttributeFilters/IpTest.php</file>
			<file>tests/Configurator/Items/AttributeFilters/IpportTest.php</file>
			<file>tests/Configurator/Items/AttributeFilters/Ipv4Test.php</file>
			<file>tests/Configurator/Items/AttributeFilters/Ipv6Test.php</file>
			<file>tests/Configurator/Items/AttributeFilters/MapTest.php</file>
			<file>tests/Configurator/Items/AttributeFilters/NumberTest.php</file>
			<file>tests/Configurator/Items/AttributeFilters/RangeTest.php</file>
			<file>tests/Configurator/Items/AttributeFilters/RegexpTest.php</file>
			<file>tests/Configurator/Items/AttributeFilters/SimpletextTest.php</file>
			<file>tests/Configurator/Items/AttributeFilters/UintTest.php</file>
			<file>tests/Configurator/Items/AttributeFilters/UrlTest.php</file>
			<file>tests/Configurator/Items/RegexpTest.php</file>
			<file>tests/Configurator/Items/TagTest.php</file>
			<file>tests/Configurator/Items/TagFilterTest.php</file>
			<file>tests/Configurator/Items/TemplateTest.php</file>
			<file>tests/Configurator/Items/VariantTest.php</file>
			<file>tests/Configurator/TemplateChecks/DisallowAttributeSetsTest.php</file>
			<file>tests/Configurator/TemplateChecks/DisallowCopyTest.php</file>
			<file>tests/Configurator/TemplateChecks/DisallowDisableOutputEscapingTest.php</file>
			<file>tests/Configurator/TemplateChecks/DisallowDynamicAttributeNamesTest.php</file>
			<file>tests/Configurator/TemplateChecks/DisallowDynamicElementNamesTest.php</file>
			<file>tests/Configurator/TemplateChecks/DisallowElementTest.php</file>
			<file>tests/Configurator/TemplateChecks/DisallowElementNSTest.php</file>
			<file>tests/Configurator/TemplateChecks/DisallowFlashFullScreenTest.php</file>
			<file>tests/Configurator/TemplateChecks/DisallowNodeByXPathTest.php</file>
			<file>tests/Configurator/TemplateChecks/DisallowObjectParamsWithGeneratedNameTest.php</file>
			<file>tests/Configurator/TemplateChecks/DisallowPHPTagsTest.php</file>
			<file>tests/Configurator/TemplateChecks/DisallowUnsafeCopyOfTest.php</file>
			<file>tests/Configurator/TemplateChecks/DisallowUnsafeDynamicCSSTest.php</file>
			<file>tests/Configurator/TemplateChecks/DisallowUnsafeDynamicJSTest.php</file>
			<file>tests/Configurator/TemplateChecks/DisallowUnsafeDynamicURLTest.php</file>
			<file>tests/Configurator/TemplateChecks/DisallowXPathFunctionTest.php</file>
			<file>tests/Configurator/TemplateChecks/RestrictFlashNetworkingTest.php</file>
			<file>tests/Configurator/TemplateChecks/RestrictFlashScriptAccessTest.php</file>
			<file>tests/Configurator/TemplateCheckerTest.php</file>
			<file>tests/Configurator/StylesheetTest.php</file>
			<file>tests/Configurator/UrlConfigTest.php</file>
			<file>tests/Configurator/Validators/AttributeNameTest.php</file>
			<file>tests/Configurator/Validators/StylesheetParameterNameTest.php</file>
			<file>tests/Configurator/Validators/TagNameTest.php</file>
			<file>tests/Configurator/JavaScriptTest.php</file>
			<file>tests/Configurator/JavaScript/CodeTest.php</file>
			<file>tests/Configurator/JavaScript/RegExpTest.php</file>
			<file>tests/Configurator/JavaScript/RegexpConvertorTest.php</file>
			<file>tests/Configurator/JavaScript/Minifiers/ClosureCompilerServiceTest.php</file>
			<file>tests/Configurator/JavaScript/Minifiers/NoopTest.php</file>

			<!-- Trying to sort by order of dependency  -->
			<file>tests/Parser/TagTest.php</file>
			<file>tests/Parser/BuiltInFiltersTest.php</file>
			<file>tests/Parser/FilterProcessingTest.php</file>
			<file>tests/Parser/LoggerTest.php</file>
			<file>tests/Parser/PluginsHandlingTest.php</file>
			<file>tests/Parser/TagStackTest.php</file>
			<file>tests/Parser/OutputHandlingTest.php</file>
			<file>tests/Parser/TagProcessingTest.php</file>
			<file>tests/Parser/RulesHandlingTest.php</file>
			<file>tests/ParserTest.php</file>

			<file>tests/Plugins/ConfiguratorBaseTest.php</file>
			<file>tests/Plugins/ParserBaseTest.php</file>
			<file>tests/Plugins/Autoemail/ConfiguratorTest.php</file>
			<file>tests/Plugins/Autoemail/ParserTest.php</file>
			<file>tests/Plugins/Autolink/ConfiguratorTest.php</file>
			<file>tests/Plugins/Autolink/ParserTest.php</file>
			<file>tests/Plugins/BBCodes/Configurator/AttributeValueCollectionTest.php</file>
			<file>tests/Plugins/BBCodes/Configurator/BBCodeTest.php</file>
			<file>tests/Plugins/BBCodes/Configurator/BBCodeCollectionTest.php</file>
			<file>tests/Plugins/BBCodes/Configurator/BBCodeMonkeyTest.php</file>
			<file>tests/Plugins/BBCodes/Configurator/RepositoryTest.php</file>
			<file>tests/Plugins/BBCodes/Configurator/RepositoryCollectionTest.php</file>
			<file>tests/Plugins/BBCodes/ConfiguratorTest.php</file>
			<file>tests/Plugins/BBCodes/ParserTest.php</file>
			<file>tests/Plugins/BBCodes/BBCodesTest.php</file>
			<file>tests/Plugins/Censor/ConfiguratorTest.php</file>
			<file>tests/Plugins/Censor/ParserTest.php</file>
			<file>tests/Plugins/Emoticons/ConfiguratorTest.php</file>
			<file>tests/Plugins/Emoticons/Configurator/EmoticonCollectionTest.php</file>
			<file>tests/Plugins/Emoticons/ParserTest.php</file>
			<file>tests/Plugins/Escaper/ConfiguratorTest.php</file>
			<file>tests/Plugins/Escaper/ParserTest.php</file>
			<file>tests/Plugins/Generic/ConfiguratorTest.php</file>
			<file>tests/Plugins/Generic/ParserTest.php</file>
			<file>tests/Plugins/HTMLElements/ConfiguratorTest.php</file>
			<file>tests/Plugins/HTMLElements/ParserTest.php</file>
			<file>tests/Plugins/HTMLEntities/ConfiguratorTest.php</file>
			<file>tests/Plugins/HTMLEntities/ParserTest.php</file>
			<file>tests/Plugins/WittyPants/ConfiguratorTest.php</file>
			<file>tests/Plugins/WittyPants/ParserTest.php</file>

			<file>tests/Renderers/XSLTTest.php</file>
			<file>tests/Renderers/PHPTest.php</file>

			<file>tests/Configurator/RendererGenerators/PHPTest.php</file>
			<file>tests/Configurator/RendererGenerators/XSLTTest.php</file>

			<file>tests/UnparserTest.php</file>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist>
			<directory suffix=".php">src</directory>
		</whitelist>
	</filter>
</phpunit>