<?xml version="1.0" encoding="utf-8" ?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         verbose="true"
>
	<logging>
		<log type="testdox-text" target="../docs/testdox.txt" />
	</logging>

	<groups>
		<include>
			<!-- Do not run special tests by default -->
			<group>__nogroup__</group>
		</include>
	</groups>

	<testsuites>
		<testsuite name="TextFormatter">
			<file>AutoloadersTest.php</file>
			<file>ConfigBuilderTest.php</file>
			<file>JSParserGeneratorTest.php</file>
			<file>ParserTest.php</file>
			<file>PluginConfigTest.php</file>
			<file>PluginParserTest.php</file>
			<file>RegexpMasterTest.php</file>
			<file>RendererTest.php</file>
			<file>Plugins/AutolinkConfigTest.php</file>
			<file>Plugins/AutolinkParserTest.php</file>
			<file>Plugins/BBCodesConfigTest.php</file>
			<file>Plugins/BBCodesParserTest.php</file>
			<file>Plugins/CensorConfigTest.php</file>
			<file>Plugins/CensorParserTest.php</file>
			<file>Plugins/EmoticonsConfigTest.php</file>
			<file>Plugins/EmoticonsParserTest.php</file>
			<file>Plugins/EscaperConfigTest.php</file>
			<file>Plugins/EscaperParserTest.php</file>
			<file>Plugins/FabricConfigTest.php</file>
			<file>Plugins/FabricParserTest.php</file>
			<file>Plugins/GenericConfigTest.php</file>
			<file>Plugins/GenericParserTest.php</file>
			<file>Plugins/HTMLEntitiesConfigTest.php</file>
			<file>Plugins/HTMLEntitiesParserTest.php</file>
			<file>Plugins/LinebreakerConfigTest.php</file>
			<file>Plugins/LinebreakerParserTest.php</file>
			<file>Plugins/RawHTMLConfigTest.php</file>
			<file>Plugins/RawHTMLParserTest.php</file>
			<file>Plugins/WittyPantsConfigTest.php</file>
			<file>Plugins/WittyPantsParserTest.php</file>
			<file>PredefinedBBCodesTest.php</file>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist>
			<file>../src/ConfigBuilder.php</file>
			<file>../src/JSParserGenerator.php</file>
			<file>../src/Parser.php</file>
			<file>../src/PluginConfig.php</file>
			<file>../src/PluginParser.php</file>
			<file>../src/PredefinedBBCodes.php</file>
			<file>../src/PredefinedTags.php</file>
			<file>../src/RegexpMaster.php</file>
			<file>../src/Renderer.php</file>
			<file>../src/Plugins/AutolinkConfig.php</file>
			<file>../src/Plugins/AutolinkParser.php</file>
			<file>../src/Plugins/BBCodesConfig.php</file>
			<file>../src/Plugins/BBCodesParser.php</file>
			<file>../src/Plugins/CensorConfig.php</file>
			<file>../src/Plugins/CensorParser.php</file>
			<file>../src/Plugins/EmoticonsConfig.php</file>
			<file>../src/Plugins/EmoticonsParser.php</file>
			<file>../src/Plugins/EscaperConfig.php</file>
			<file>../src/Plugins/EscaperParser.php</file>
			<file>../src/Plugins/FabricConfig.php</file>
			<file>../src/Plugins/FabricParser.php</file>
			<file>../src/Plugins/GenericConfig.php</file>
			<file>../src/Plugins/GenericParser.php</file>
			<file>../src/Plugins/HTMLEntitiesConfig.php</file>
			<file>../src/Plugins/HTMLEntitiesParser.php</file>
			<file>../src/Plugins/LinebreakerConfig.php</file>
			<file>../src/Plugins/LinebreakerParser.php</file>
			<file>../src/Plugins/RawHTMLConfig.php</file>
			<file>../src/Plugins/RawHTMLParser.php</file>
			<file>../src/Plugins/WittyPantsConfig.php</file>
			<file>../src/Plugins/WittyPantsParser.php</file>
		</whitelist>
	</filter>
</phpunit>