<?xml version="1.0" encoding="utf-8" ?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="autoloader.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         verbose="true"
>
	<logging>
		<log type="testdox-text" target="../docs/testdox.txt" />
	</logging>

	<testsuites>
		<testsuite name="TextFormatter">
			<file>ConfiguratorTest.php</file>

			<!-- Test the base classes and traits first -->
			<file>Configurator/Collections/CollectionTest.php</file>
			<file>Configurator/Collections/NormalizedCollectionTest.php</file>
			<file>Configurator/Collections/NormalizedListTest.php</file>
			<file>Configurator/Traits/CollectionProxyTest.php</file>
			<file>Configurator/Traits/ConfigurableTest.php</file>

			<file>Configurator/Collections/AttributeCollectionTest.php</file>
			<file>Configurator/Collections/AttributeListTest.php</file>
			<file>Configurator/Collections/AttributePreprocessorCollectionTest.php</file>
			<file>Configurator/Collections/FilterChainTest.php</file>
			<file>Configurator/Collections/FilterCollectionTest.php</file>
			<file>Configurator/Collections/PluginCollectionTest.php</file>
			<file>Configurator/Collections/RulesetTest.php</file>
			<file>Configurator/Collections/TagCollectionTest.php</file>
			<file>Configurator/Collections/TemplatesetTest.php</file>
			<file>Configurator/Helpers/ConfigHelperTest.php</file>
			<file>Configurator/Helpers/HTML5/TemplateForensicsTest.php</file>
			<!-- RulesGenerator depends on TemplateForensics -->
			<file>Configurator/Helpers/HTML5/RulesGeneratorTest.php</file>
			<file>Configurator/Helpers/RegexpBuilderTest.php</file>
			<file>Configurator/Helpers/RegexpConvertorTest.php</file>
			<file>Configurator/Helpers/RegexpParserTest.php</file>
			<file>Configurator/Helpers/RulesHelperTest.php</file>
			<file>Configurator/Helpers/StylesheetHelperTest.php</file>
			<!-- TemplateChecker depends on TemplateOptimizer -->
			<file>Configurator/Helpers/TemplateOptimizerTest.php</file>
			<file>Configurator/Helpers/TemplateCheckerTest.php</file>
			<file>Configurator/Helpers/TemplateHelperTest.php</file>
			<file>Configurator/Items/AttributeTest.php</file>
			<file>Configurator/Items/AttributePreprocessorTest.php</file>
			<file>Configurator/Items/CallbackPlaceholderTest.php</file>
			<file>Configurator/Items/ProgrammableCallbackTest.php</file>
			<file>Configurator/Items/TagTest.php</file>
			<file>Configurator/UrlConfigTest.php</file>
			<file>Configurator/Validators/AttributeNameTest.php</file>
			<file>Configurator/Validators/TagNameTest.php</file>

			<file>Parser/BuiltInFiltersTest.php</file>
			<file>Parser/LoggerTest.php</file>
			<file>Parser/TagTest.php</file>
			<file>ParserTest.php</file>

			<file>Plugins/ConfiguratorBaseTest.php</file>
			<file>Plugins/Autolink/ConfiguratorTest.php</file>
			<file>Plugins/BBCodes/Configurator/AttributeValueCollectionTest.php</file>
			<file>Plugins/BBCodes/Configurator/BBCodeTest.php</file>
			<file>Plugins/BBCodes/Configurator/BBCodeCollectionTest.php</file>
			<file>Plugins/BBCodes/Configurator/BBCodeMonkeyTest.php</file>
			<file>Plugins/BBCodes/Configurator/RepositoryTest.php</file>
			<file>Plugins/BBCodes/Configurator/RepositoryCollectionTest.php</file>
			<file>Plugins/BBCodes/ConfiguratorTest.php</file>
			<file>Plugins/Censor/ConfiguratorTest.php</file>
			<file>Plugins/Emoticons/ConfiguratorTest.php</file>
			<file>Plugins/Emoticons/EmoticonCollectionTest.php</file>
			<file>Plugins/Escaper/ConfiguratorTest.php</file>
			<file>Plugins/Generic/ConfiguratorTest.php</file>
			<file>Plugins/HTMLEntities/ConfiguratorTest.php</file>
			<file>Plugins/RawHTML/ConfiguratorTest.php</file>

			<file>UnparserTest.php</file>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist>
			<!--directory suffix=".php">../src</directory-->

			<file>../src/Configurator.php</file>
			<file>../src/Configurator/Collections/AttributeCollection.php</file>
			<file>../src/Configurator/Collections/AttributeList.php</file>
			<file>../src/Configurator/Collections/AttributePreprocessorCollection.php</file>
			<file>../src/Configurator/Collections/Collection.php</file>
			<file>../src/Configurator/Collections/FilterChain.php</file>
			<file>../src/Configurator/Collections/FilterCollection.php</file>
			<file>../src/Configurator/Collections/NormalizedCollection.php</file>
			<file>../src/Configurator/Collections/NormalizedList.php</file>
			<file>../src/Configurator/Collections/PluginCollection.php</file>
			<file>../src/Configurator/Collections/Ruleset.php</file>
			<file>../src/Configurator/Collections/TagCollection.php</file>
			<file>../src/Configurator/Collections/Templateset.php</file>
			<file>../src/Configurator/Helpers/ConfigHelper.php</file>
			<file>../src/Configurator/Helpers/HTML5/RulesGenerator.php</file>
			<file>../src/Configurator/Helpers/HTML5/TemplateForensics.php</file>
			<file>../src/Configurator/Helpers/RegexpBuilder.php</file>
			<file>../src/Configurator/Helpers/RegexpConvertor.php</file>
			<file>../src/Configurator/Helpers/RegexpParser.php</file>
			<file>../src/Configurator/Helpers/RulesHelper.php</file>
			<file>../src/Configurator/Helpers/StylesheetHelper.php</file>
			<file>../src/Configurator/Helpers/TemplateChecker.php</file>
			<file>../src/Configurator/Helpers/TemplateHelper.php</file>
			<file>../src/Configurator/Helpers/TemplateOptimizer.php</file>
			<file>../src/Configurator/Items/Attribute.php</file>
			<file>../src/Configurator/Items/AttributePreprocessor.php</file>
			<file>../src/Configurator/Items/CallbackPlaceholder.php</file>
			<file>../src/Configurator/Items/ProgrammableCallback.php</file>
			<file>../src/Configurator/Items/Tag.php</file>
			<file>../src/Configurator/Traits/CollectionProxy.php</file>
			<file>../src/Configurator/Traits/Configurable.php</file>
			<file>../src/Configurator/UrlConfig.php</file>
			<file>../src/Configurator/Validators/AttributeName.php</file>
			<file>../src/Configurator/Validators/TagName.php</file>

			<file>../src/Parser/BuiltInFilters.php</file>
			<file>../src/Parser/Logger.php</file>
			<file>../src/Parser/Tag.php</file>
			<file>../src/Parser.php</file>

			<file>../src/Plugins/ConfiguratorBase.php</file>
			<file>../src/Plugins/Autolink/Configurator.php</file>
			<file>../src/Plugins/BBCodes/Configurator/AttributeValueCollection.php</file>
			<file>../src/Plugins/BBCodes/Configurator/BBCode.php</file>
			<file>../src/Plugins/BBCodes/Configurator/BBCodeCollection.php</file>
			<file>../src/Plugins/BBCodes/Configurator/BBCodeMonkey.php</file>
			<file>../src/Plugins/BBCodes/Configurator/Repository.php</file>
			<file>../src/Plugins/BBCodes/Configurator/RepositoryCollection.php</file>
			<file>../src/Plugins/BBCodes/Configurator.php</file>
			<file>../src/Plugins/Censor/Configurator.php</file>
			<file>../src/Plugins/Emoticons/Configurator.php</file>
			<file>../src/Plugins/Emoticons/EmoticonCollection.php</file>
			<file>../src/Plugins/Escaper/Configurator.php</file>
			<file>../src/Plugins/Generic/Configurator.php</file>
			<file>../src/Plugins/HTMLEntities/Configurator.php</file>
			<file>../src/Plugins/RawHTML/Configurator.php</file>

			<file>../src/Unparser.php</file>
		</whitelist>
	</filter>
</phpunit>