<?xml version="1.0" encoding="utf-8" ?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="autoloader.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         verbose="true"
>
	<logging>
		<log type="testdox-text" target="../docs/testdox.txt" />
	</logging>

	<groups>
		<include>
			<group>__nogroup__</group>
			<group>functional</group>
			<group>internals</group>
		</include>
	</groups>

	<testsuites>
		<testsuite name="TextFormatter">
			<file>ConfigBuilder/Collections/AttributeCollectionTest.php</file>
			<file>ConfigBuilder/Collections/AttributePreprocessorCollectionTest.php</file>
			<file>ConfigBuilder/Collections/CollectionTest.php</file>
			<file>ConfigBuilder/Collections/FactoryCollectionTest.php</file>
			<file>ConfigBuilder/Collections/FilterChainTest.php</file>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist>
			<file>../src/ConfigBuilder/Collections/AttributeCollection.php</file>
			<file>../src/ConfigBuilder/Collections/AttributePreprocessorCollection.php</file>
			<file>../src/ConfigBuilder/Collections/Collection.php</file>
			<file>../src/ConfigBuilder/Collections/FactoryCollection.php</file>
			<file>../src/ConfigBuilder/Collections/FilterChain.php</file>
		</whitelist>
	</filter>
</phpunit>