.rst-content dl,
.rst-content ul
{
	font-size: 16px
}
.wy-nav-content
{
	max-width: unset;
}
/* MediaEmbed's supported sites */
tr:target
{
	outline: red solid 2px;
}
/* Plugins/BBCodes/Add_from_the_repository.md */
h6
{
	line-height:   2em;
	margin-bottom: 0;
}